sn: XXXXXXXXXXXX
token: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
search_url: "f1=days_elapsed&list_id=52780&o1=lessthaneq&emailtype1=substring&emailassigned_to1=1&query_format=advanced&bug_status=Pushed%20to%20Master&email1=biblibre.com&v1=10"
